version: '3'
services:
  web:
    image: bamdad1/langlopende_taak_cloud:latest
    ports:
      - "80:80"
    depends_on:
      - db

  db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: website
      MYSQL_USER: webuser
      MYSQL_PASSWORD: jouw_veilig_wachtwoord
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:




